{% extends 'Base/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'Base/css/about.css' %}"/>
	<link rel="canonical" href="https://historiesofhumanity.com{%url 'about'%}" />
	<meta name="description" content="{% trans "Об особенностях и краткая информация об сайте 'Истории Человечества' и его направленности. История 📜 ❱ Сказки ❱ Древние мифы и легенды народов мира." %}">
	<title>{% translate "О сайте 'Истории Человечества'" %}</title>
{% endblock %}

{% block body %}
	<div class="about column_container  container--paddings ">
		<div class="title column_container_element">
			<h1><b>{% trans " О сайте 'Истории Человечества'" %}</b></h1>
		</div>
			<div class="prt1 row_container row_container--wrap">
				<div class="row_container_element__expanding">
				</div>
				<div >
					<div class="text">
						{% blocktrans %}
						Приветствую своих гостей на моём сайте. Вас наверняка интересует
						о чём же сайт <b>"Истории человечества"</b> и что же вы найдёте тут ?
						{% endblocktrans %}
					</div>
				</div>
			</div>
			<div class="prt2 row_container row_container--wrap ">
				<div>
					<div class="text">
						{% blocktrans %}
						Условно наполнение моего сайта можно разделить на следующие категории:
						{% endblocktrans %}
					</div>
					<div class="text">
						<div class="list">
							{% blocktrans %}
							<li>История</li>
							<li>Мифы</li>
							<li>Легенды</li>
							<li>Сказки</li>
							<li>Рассказы</li>
							{% endblocktrans %}
						</div>
					</div>
				</div>
				<div class="row_container_element__expanding">
				</div>
			</div>
			<div class="prt3 row_container row_container--wrap row_container--align_sb">
					<div class="simple-card">
						{% blocktrans %}
						С <b><i>историей</i></b> всё понятно, о том что в действительности было и подтверждено
						документами или засвидетельственно.
						{% endblocktrans %}
					</div>
					<div class="simple-card">
						{% blocktrans %}
						<b><i>Легенда</i></b>, чаще всего вымышленная история переданная в поэтическом 
						ключе.
						{% endblocktrans %}
					</div>
					<div class="simple-card">
						{% blocktrans %}
						<b><i>Мифы</i></b>, о том как люди воспринимали историю и мир до того как появилась современное представление истории.
						{% endblocktrans %}
					</div>
					<div class="simple-card">
						{% blocktrans %}
						<b><i>Сказки</i></b>, полностью вымышленная история, чаще всего имеющая 
						за собой некую подоплёку.
						{% endblocktrans %}
					</div>
					<div class="simple-card">
						{% blocktrans %}
						<b><i>Рассказ</i></b>, эту категорию лучшебы назвать городские легенды и байки, но я люблю понятия, которые не растекаются в своём описании не больше чем на 1 слово ☺
						{% endblocktrans %}
					</div>
			</div>
			<div class="prt4 row_container row_container--wrap">
				<div class="row_container_element__expanding">
				</div>
				<div>
					<div class="text">
						{% blocktrans %}
						Для каждой статьи из любой категории есть как <b>полная</b>
						{% endblocktrans %}
						<img class="icon_to_display" src="{% static 'Viewer/img/longer.webp'%}" alt="{% trans "Линейка длинная" %}">{% trans ", так и <b>краткая</b>" %}<img class="icon_to_display"  src="{% static 'Viewer/img/shorter.webp'%}" alt="{% trans "Линейка длинная" %}"> {% trans "версия" %}.
					</div>
					<div class="text">
						{% blocktrans %}
						Это сделано с упором на то, что в основной массе своей, многий фольклёр читателю будет не известен, и для того, чтобы читатель понял понравится ли ему та или иная статья, будет существовать краткая версия для ознакомления.
						{% endblocktrans %}
					</div>
					<div class="text">
						{% blocktrans %}
						А также и потому что читателю/гостю будет просто лень читать больше ☺.
						{% endblocktrans %}
					</div>
				</div>
			</div>
			<div class="prt5 row_container row_container--wrap">
				<div>
					<div class="text">
						{% blocktrans %}
						Конечно, одним текстом сыт не будешь, поэтому я разбавляю его <b>картинками</b>, <b>списками</b>, <b>графиками</b>. Для статей исторической категории, это сделано с целью понять ситуацию и события вцелом.  Но для сказок, легенд, мифов и рассказов это сделано с целью подстегнуть воображение читателя.
						{% endblocktrans %}
					</div>
					<div class="text">
						{% trans "Я всегда открыт для предложений и вопросов. Отправить сообщение можно в меню" %} <b><a href="{% url 'contacts' %}">{% trans "Контакты</a></b>. А ответ ждите по почте." %}
					</div>
					<div class="text">
						{% blocktrans %}
						Приятного чтения и ознакомления.
						{% endblocktrans %}
					</div>
				</div>
				<div class="row_container_element__expanding">
				</div>
			</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}
