{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap">
    <link type="text/css" rel="stylesheet" href="{% static 'Base/css/base.css' %}"/>
    <title>История как Искуство</title>
    <!-- Block of code for apps headers-->
    {% block header %}
    {% endblock %}
</head>
<body>
    <div id="wrapper" class="wrapper row_container">
        <div id="navigation" class="navigation column_container row_container_element container--paddings ">
            <div class="navigation_title column_container_element container__column--margins ">История как Искуство. Главная.</div>
            <div class="navigation_body column_container_element__expanding container__column--margins container--paddings ">
                <div id="articles" class="navigation_body__element container__column--margins">
                    <!-- START Collapsing tree root -->
                    <div class="collapsing_tree">
                        <!-- START Toggler of collapsing tree -->
                        <div class="collapsing_tree__toggler">
                            <div class="collapsing_tree__toggler_header collapsing_tree__element">
                                <img class="collapsing_tree__side_image" src="{% static 'Base/img/folder.png' %}" alt="image for toggle list, folder">
                                <span>Статьи</span>
                            </div>
                            <div class="collapsing_tree__toggler_body">
                                <!-- START Element of collapsing tree-->
                                <div class="collapsing_tree__element">
                                    <a href="#">
                                        <img class="collapsing_tree__side_image" src="{% static 'Base/img/script.png' %}" alt="image for toggle list, folder">
                                        <span>Легенды</span>
                                    </a>
                                </div>
                                <!-- END Element of collapsing tree-->
                                <!-- START Element of collapsing tree-->
                                <div class="collapsing_tree__element">
                                    <a href="#">
                                        <img class="collapsing_tree__side_image" src="{% static 'Base/img/script.png' %}" alt="image for toggle list, folder">
                                        <span>Истории</span>
                                    </a>
                                </div>
                                <!-- END Element of collapsing tree-->
                                <!-- START Element of collapsing tree-->
                                <div class="collapsing_tree__element">
                                    <a href="#">
                                        <img class="collapsing_tree__side_image" src="{% static 'Base/img/script.png' %}" alt="image for toggle list, folder">
                                        <span>Сказки</span>
                                    </a>
                                </div>
                                <!-- END Element of collapsing tree-->
                                <!-- START Toggler of collapsing tree -->
                                <div class="collapsing_tree__toggler">
                                    <div class="collapsing_tree__toggler_header  collapsing_tree__element ">
                                        <img class="collapsing_tree__side_image" src="{% static 'Base/img/folder.png' %}" alt="image for toggle list, folder">
                                        <span>SCP Документы</span>
                                    </div>
                                    <div class="collapsing_tree__toggler_body">
                                        <!-- START Element of collapsing tree-->
                                        <div class="collapsing_tree__element">
                                            <a href="#">
                                                <img class="collapsing_tree__side_image" src="{% static 'Base/img/script.png' %}" alt="image for toggle list, folder">
                                                <span>633</span>
                                            </a>
                                        </div>
                                        <!-- END Element of collapsing tree-->
                                        <!-- START Element of collapsing tree-->
                                        <div class="collapsing_tree__element">
                                            <a href="#">
                                                <img class="collapsing_tree__side_image" src="{% static 'Base/img/script.png' %}" alt="image for toggle list, folder">
                                                <span>507</span>
                                            </a>
                                        </div>
                                        <!-- END Element of collapsing tree-->
                                        
                                    </div>
                                </div>
                                <!-- END Toggler of collapsing tree -->
                            </div>
                        </div>
                        <!-- END Toggler of collapsing tree -->
                    </div>
                    <!-- End Collapsing tree root -->
                </div>
                <div id="about" class="navigation_body__element container__column--margins">
                    <img class="collapsing_tree__side_image" src="{% static 'Base/img/question.png' %}" alt="question mark">
                    <span>Об проекте</span>
                </div>
            </div>
            <div class="navigation_footer row_container column_container_element container__column--margins container--paddings ">
                <div id="navigation_footer__language_switcher" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/language.png' %}" alt="Language choises">
                </div>
                <!-- START Language list-->
                <div id="navigation_footer__language_choise" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/belarus.png' %}" alt="Belorusian flag">
                </div>
                <div id="navigation_footer__language_choise" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/russia.png' %}" alt="Russian flag">
                </div>
                <div id="navigation_footer__language_choise" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/english.png' %}" alt="English flag">
                </div>
                <!-- END Language list-->
                <div id="navigation_footer__theme_switcher" class="button navigation_footer__element row_container_element container__row--margins">
                    <img id="navigation_footer__theme_switcher__img" src="{% static 'Base/img/themes.png' %}" alt="Themes switcher">
                </div>
                <!-- START Themes list-->
                <div id="navigation_footer__theme_choise" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/sun.png' %}" alt="light" >
                </div>
                <div id="navigation_footer__theme_choise" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/half-moon.png' %}" alt="dark">
                </div>
                <!-- END Theme list -->
                <div id="navigation_footer__collapse_all" class="button navigation_footer__element row_container_element container__row--margins">
                    <img src="{% static 'Base/img/maximize.png' %}" alt="Maximize viewer">
                </div>
            </div>
            <!--Button to collapse navigation element (on side)-->
            <div id="navigation_footer__collapse_button" class="button navigation_footer__collapse_button container__row--margins ">
                <img src="{% static 'Base/img/collapse.png' %}" alt="Collapse to left arrow">
            </div>
        </div>
        <div id="navigation_path__container" class="column_container row_container_element__expanding">
            <div id="navigation_path" class="navigation_path row_container column_container_element ">
                <div class="navigation_path__text row_container_element__expanding  container__row--margins">Навигационный путь</div>
                <!--Button to collapse navigation_path element(on top)-->
                <div id="navigation_path__collapse_button" class="button navigation_path__collapse_button">
                    <img src="{% static 'Base/img/collapse.png' %}" alt="Collapse to top arrow">
                </div>
            </div>
            <div id="viewer"  class=" column_container_element__expanding container--paddings">
                <!-- Block of code for apps content-->
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- This is for knowing where to look for an images-->
    <script>
        var PATH = "{% static .%}"
    </script>
    <script src="{% static 'Base/js/base.js' %}"></script>
    <script src="{% static 'Base/js/collapsingTree.js' %}"></script>
    <!-- Block of code for apps scripts-->
    {% block script_block %}
    {% endblock %}
</body>
</html>