{% extends 'Base/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'Base/css/home.css' %}"/>
	<link rel="canonical" href="https://historiesofhumanity.com{%url 'home'%}" />
	<meta name="description" content="{% trans "История 📜 ❱ Сказки для детей и взрослых ❱ Древние мифы и легенды народов мира. Всё это с картинками 🖼 и графикой 🖌, в краткой и полной форме" %}">
	<title>{% translate "История, Сказки, Мифы и Легенды на сайте Истории Человечества" %}</title>
{% endblock %}

{% block body %}
	<div class="home column_container  container--paddings ">
		<div class="title row_container row_container--wrap">
			<div class="title_logo">
				<img src="{% static 'Base/img/logo.webp' %}" alt="{% trans "Логотип сайта Истории человечества" %}">
			</div>
			<div class="title_body">
				<div class="title_name">
					<h1><b>{% trans "Истории Человечества" %}</b></h1>
				</div>
				<div class="title_quote">
					<p><b><i>{% trans "'Мы должны учиться на ошибках наших предков'" %}</i></b></p>
				</div>
			</div>
		</div>
		<div class="new_articles home_container">
			<div class="title_name">
				<h2><b>{% trans "Новые статьи" %}</b></h1>
			</div>
			<div class="home_description">
				{% blocktrans %}
				Недавно добавленные статьи.
				{% endblocktrans %}
			</div>
			<div class="home_articles__container row_container row_container--wrap row_container--align_sa">
				{% for n_art in new_articles %}
				<div class="home_articles__el column_container">
					<div class="home_article__el__image container--margins">
						<a class="link" href="{{n_art.get_absolute_url}}"><img src="{{media_root}}{{n_art.img1}}" alt="{% trans "Превью статьи" %}"></a>
					</div>
					<a class="link" href="{{n_art.get_absolute_url}}"><div class="home_article__el__title  container--paddings" >{{n_art.title}}</div></a>
					<div class="row_container">
						<div class="home_article__el__timeadded container--paddings">🕐 {{n_art.time_added|date:"d.m.Y"}}</div>
					</div>
					<a class="link" href="{{n_art.get_absolute_url}}"><div class="container--paddings  home_article__el__read">{% trans "➲ Читать" %}</div></a>
				</div>
				<div class="circle_container">
					<div class="circle"></div>
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="popular_articles home_container">
			<div class="title_name">
				<h2><b>{% trans "Популярные статьи" %}</b></h1>
			</div>
			<div class="home_description">
				{% blocktrans %}
				Самые популярные статьи у гостей.
				{% endblocktrans %}
			</div>
			<div class="home_articles__container  row_container row_container--wrap row_container--align_sa">
				{% for p_art in popular_articles %}
				<div class="home_articles__el column_container">
					<div class="home_article__el__image container--margins">
						<a class="link" href="{{p_art.get_absolute_url}}"><img src="{{media_root}}{{p_art.img1}}" alt="{% trans "Превью статьи" %}"></a>
					</div>
					<a class="link" href="{{p_art.get_absolute_url}}"><div class="home_article__el__title  container--paddings" >{{p_art.title}}</div></a>
					<div class="home_article__el__timeadded container--paddings">🕐 {{p_art.time_added|date:"d.m.Y"}}</div>
					<div class="row_container">
						<div class="home_article__el__likes row_container container--paddings image">
							<img src="{% static 'Viewer/img/heart.webp' %}" alt="{% trans "сердце" %}">
							<div>{{p_art.likes}}</div>
						</div>
						<div class="home_article__el__shares row_container container--paddings image">
							<img src="{% static 'Viewer/img/share.webp' %}" alt="{% trans "поделиться" %}">
							<div>{{p_art.shares}}</div>
						</div>
						<div class="home_article__el__views row_container container--paddings image">
							<img src="{% static 'Viewer/img/eye.webp' %}" alt="{% trans "глаз" %}">
							<div>{{p_art.views}}</div>
						</div>
					</div>
					<a class="link" href="{{p_art.get_absolute_url}}"><div class="container--paddings home_article__el__read">{% trans "➲ Читать" %}</div></a>
				</div>
				<div class="circle_container">
					<div class="circle"></div>
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="future_articles home_container">
			<div class="title_name">
				<h2><b>{% trans "Будущие статьи" %}</b></h1>
			</div>
			<div class="home_description">
				{% blocktrans %}
				Статьи которые вскоре будут добавлены.
				Если хотите, что-то предложить свое 
				прошу оставить сообщение в 
				{% endblocktrans %}
				<a class="home_article__el__read" href="{% url 'contacts' %}">{% trans 'Контактах' %}</a>
			</div>
			<div class="list">
				{% for f_art in future_articles %}
				<li>
					{{f_art.title}}
				</li>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
    <script src="{% static 'Base/js/home.js' %}"></script>
{% endblock %}
