{% extends 'Base/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'Base/css/home.css' %}"/>
	<meta name="description" content="{% trans "История 📜 ❱ Сказки для детей и взрослых ❱ Древние мифы и легенды народов мира. Всё это с картинками 🖼 и графикой 🖌, в краткой и полной форме" %}">
	<title>{% translate "История, Сказки, Мифы и Легенды на сайте Истории Человечества" %}</title>
{% endblock %}

{% block body %}
	<div class="home column_container  container--paddings ">
		<div class="title column_container_element">
			<h1><b>{% trans "Сайт Истории Человечества" %}</b></h1>
		</div>
		<div class="prt0-1-2 column_container" style="background-image: url('{% static 'Base/img/bg_red.webp' %}');">
			<div class="prt0 text title column_container_element">
				<h2>{% trans "Об" %}</h2>
			</div>
			<div class="prt1 row_container row_container--wrap">
				<div class="row_container_element__expanding">
				</div>
				<div >
					<div class="text">
						{% blocktrans %}
						Приветствую своих гостей на моём сайте. Вас наверняка интересует
						о чём же "Истории человечества" и что же вы найдёте?
						{% endblocktrans %}
					</div>
					<div class="text">
						{% blocktrans %}
						Что же, на этом сайте я выкладываю статьи о различных исторических
						событиях, мифы и легенды, сказки и фольклорные рассказы,
						различные истории из жизни, которые мне показались интересными.
						{% endblocktrans %}
					</div>
				</div>
			</div>
			<div class="prt2 row_container row_container--wrap ">
				<div class="text">
					{% blocktrans %}
					Для разных статей у меня разный подход. Для статей связаных с историей
					я стараюсь найти карты, статистику , добавить источники,
					откуда я взял данные. С мифами и легендами подход другой, для их требуется
					много ручной рисовки, а вот карт и статистики не требуется.
					{% endblocktrans %}
				</div>
				<div class="row_container_element__expanding">
				</div>
			</div>
		</div>
	
		<div class="prt3-4 column_container" style="background-image: url('{% static 'Base/img/bg_blue.webp' %}');">
			<div class="prt3 text title column_container_element ">
				<h2>{% trans "Как планирую улучшать сайт" %}</h2>
			</div>
			<div class="prt4 row_container row_container--wrap">
				<ul class="text">
					{% blocktrans %}
					<li>Разделение на "домашнюю" страницу и страницу "об сайте"</li>
					<li><s>Содержание статьи</s></li>
					<li>Добавление тёмной темы</li>
					<li>Добавление возможности сохранять статьи ввиде pdf</li>
					<li>Добавление статистики о той или иной статье</li>
					<li>Добавление секции с коментариями рейтинг для статей</li>
					{% endblocktrans %}
				</ul>
				<div class="row_container_element__expanding">
				</div>
			</div>
		</div>

		<div class="prt5-6 column_container" style="background-image: url('{% static 'Base/img/bg_green.webp' %}');">
			<div class="prt5 text title column_container_element ">
				<h2>{% trans "Контакты" %}</h2>
			</div>
			<div class="prt6 row_container">
				<ul class="text">
					<li><a rel="noreferrer noopener nofollow" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=chedrden@gmail.com">ChedrDen@gmail.com</a></li>
					<li><a rel="noreferrer noopener nofollow" href="https://www.instagram.com/timachedr/">Instagram</a></li>
					<li><a rel="noreferrer noopener nofollow" href="https://t.me/DmitryChedr">Telegram</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block script_block %}
    <script src="{% static 'Base/js/home.js' %}"></script>
{% endblock %}



<!-- Card template -->
		<!--<div class="prt6 cards column_container_element row_container">
			<div class="card row_container_element">
			  <div class="content">
				<div class="front">
					<div>{% trans "Ручная рисовка" %}</div>
					<img src="{% static 'Base/img/card.webp'%}" alt="">
				</div>
				<div class="back">
					{% blocktrans %}
					Я знаю сейчас ChatGPT правит балом, но всегда когда я пытаюсь получить то что вижу у себя в голове, он сдаёт,
					и единственный и самый важный инструмент который у меня всегда был это мои руки
					{% endblocktrans %}
				</div>
			  </div>
			</div>
		</div>-->
