{% extends 'Base/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'Base/css/home.css' %}"/>
	<title>{% translate "Поисковой результат для " %}{{ searched }}</title>
{% endblock %}

{% block body %}

	{% if searched %}
	<div class="search_container search_title">
		<h2>{% trans "Результаты поиска для: " %} "<b>{{ searched }}</b>"</h2>
	</div>
	<div class="search_container search_count">
		<p>{% trans "Найдено совпадений: "%}<b>{{ foundedAtricles|length }}</b></p>
	</div>
	<div class="search_container search_body">
		{% for article in foundedAtricles %}
			<div class="search_container search_body__element">
				<a class="link" href="{{ article.get_absolute_url }}" ><div>{{ article.title }}</div></a>
			</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="search_container_empty search_title">
		<h2>{% trans "Увы, ничего не найдено" %}</h2>
	</div>
	{% endif %}

{% endblock %}
