{% extends 'Base/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'Viewer/css/viewer.css' %}"/>
	<meta name="description" content="{% trans "Начало великой французской революции 🇫🇷, как казнили Людовика 16 ⚜️иякобинский террор. И приход к власти Наполеона Бонапарта." %}">
	<title>{% translate "Великая Французская революция 🇫🇷1789-1799. Причины ❱ Ход ❱ Последствия" %}</title>
{% endblock %}

{% block forviewer_content %}
	<div class="content_tree__toggler">
		<div  class="content_tree__toggler_header content_tree__element" >
			<img class="content_tree__side_image" src="{% static 'Base/img/script.webp' %}" alt="{% trans "Свиток" %}">
			<span>{% trans "Содержание" %}</span>
		</div>
		<div  class="content_tree__toggler_body active">
			<div class="content_tree__element">
				<a href="#v1_1">
					<img class="content_tree__side_image" src="{% static 'Base/img/paragraph.webp' %}" alt="{% trans "Параграф" %}">
					<span>{% trans "Предвестники революции" %}</span>
				</a>
			</div>
			<div class="content_tree__element">
				<a href="#v2_1">
					<img class="content_tree__side_image" src="{% static 'Base/img/paragraph.webp' %}" alt="{% trans "Параграф" %}">
					<span>{% trans "Революционная Франция" %}</span>
				</a>
			</div>
			<div class="content_tree__element">
				<a href="#v3_1">
					<img class="content_tree__side_image" src="{% static 'Base/img/paragraph.webp' %}" alt="{% trans "Параграф" %}">
					<span>{% trans "После революции" %}</span>
				</a>
			</div>
			<div class="content_tree__element">
				<a href="#v4_1">
					<img class="content_tree__side_image" src="{% static 'Base/img/paragraph.webp' %}" alt="{% trans "Параграф" %}">
					<span>{% trans "Источники" %}</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="main_title"> 
		<h1> {{ article.title }} </h1>
	</div>
	<div id="v1_1" class="title">
		<h2>{% trans "Причины Французской революции. Взятие Бастилии." %}</h2>
	</div>
	<div class="row_container row_container--wrap">
		<div class="text">
		{% blocktranslate %}
			 К концу 18 века Франция предстаёт пред нами как колониальная империя, во главе которой стоит монарх с абсолютной  властью в руках.
			 Имя этому монарху Людовик XVI Бурбон. Франция на тот момент это центр политики, культуры, науки. Невероятно богатая и сильная империя.
			 Но за всем этим лоском скрывалась дряхлая старуха, которую именуют по разному: политический строй, правительство, общество.
		{% endblocktranslate %}
		</div>
		<div class="image">
			<img src="{{media_root}}{{article.img2}}" alt="{% trans "Свобода на баррикадах" %}">
		</div>
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
		 Так во Франции 18 века существовало 3 сословия, дворянство, духовенство и 3-е сословие. Король был как бы над всеми ними.
		 Толчком к началу революции можно считать финансовую политику Франции. Франция поддержала США в их войне за независимость,
		 торговля в Великобританией, в конце концов, последние урожаи были ужасны, всё это не могло не сказаться на финансах.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
		 Как говорят: "Деньги - это кровь экономики." и Франция была обескровленна и ей срочно нужна была подпитка. Где взять деньги ?
		 Что ж, у нас есть 3 сословия и только одно платит налоги, 3-е. Причём это самое бедное сословие. Колонн, генеральный директор 
		 финансов, решил ввести поземельный налог для всех сословий, увы программа не прошла, а Колонна отстранили.
		{% endblocktranslate %}
	</div>
	<div class="row_container row_container--wrap">
		<div class="text">
		{% blocktranslate %}
			Количество населения Европейских государств в конце 18 века
		{% endblocktranslate %}
		</div>
		<div class="image">
		{% if LANGUAGE_CODE == "en" %}
			<img src="{{media_root}}{{article.img4}}" alt=" Polulation in Europe in the end of 18th century ">
		{% elif LANGUAGE_CODE == "ru"%}
			<img src="{{media_root}}{{article.img3}}" alt="Население в Европе в конце 18 века">
		{% endif%}
		</div>
	</div>
	<div class="row_container row_container--wrap">
		<div class="image">
		{% if LANGUAGE_CODE == "en" %}
			<img src="{{media_root}}{{article.img8}}" alt="Level of urbanization in Europe in the end of 18th century ">
		{% elif LANGUAGE_CODE == "ru"%}
			<img src="{{media_root}}{{article.img7}}" alt="Уровень урбанизации в Европе в конце 18 века">
		{% endif%}
		</div>
		<div class="text">
		{% blocktranslate %}
			Уровень урбанизации Европейских государств в конце 18 века
		{% endblocktranslate %}
		</div>
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 Ситуация с финансами была настолько плохой что Неккер, преемник Колонна, пришлось созывать Генеральные штаты, которые 
			 не созывались с 1614 года. Но то ли высокомерие, то ли тупость, но 6 мая 1789 году депутаты духовенства и дворянства решили
			 просто проигнорировать 3-е сословие и собрались отдельно. А после уже 20 июня 1789, их вовсе не пустили.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 Но постепенно к 3 сословию начали присоединятся члены духовенства и дворянства, их пытались даже разогнать гвардией, но ничего
			 не получилось. Как итог Генеральные штаты были преобразованы в Национальное собрание, один злой король и 20 000 немецких и 
			 швейцарских наёмников рядом с Парижем.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 У нас есть бочка с бензином, так что же было искрой? Искрой была отставка Неккера. Народ воспринял всё это как "Аристократический заговор" 
			 , а у более или менее состоятельных был шок, ведь именно в Неккере они видели надежду в спасении экономики страны. Парижане 
			 готовились ко штурму города и дабы иметь шансы против наёмников всюду искали оружие и вскоре была взята Бастилия.

			 Так началась революция.
		{% endblocktranslate %}
	</div>
	<div class="image--fullwidth">
	{% if LANGUAGE_CODE == "en" %}
		<img src="{{media_root}}{{article.img6}}" alt="Timeline of goverment's form during French Revolution">
	{% elif LANGUAGE_CODE == "ru"%}
		<img src="{{media_root}}{{article.img5}}" alt="Линия времени с формами правления во Франции">
	{% endif%}
	</div>
	<div id="v2_1" class="title">
		<h2>{% trans "Французская революция. 1-я Французская республика и Якобинцы и Якобинский террор" %}</h2>
	</div>
	<div class="list">
		{% blocktranslate %}
			Основные события революции:
		{% endblocktranslate %}
	</div>
	<div class="list">
			{% blocktrans %}
			<li>5 мая 1789 года - созыв Генеральных штатов</li>
			<li>17 июня 1789 года - создание Учредительного собрания</li>
			<li>14 июля 1789 года - начало революции, взятие Бастилии</li>
			<li>26 августа 1789 года - принята Декларация прав человека и гражданина</li>
			<li>3 сентября 1789 года - принята 1-я Конституция Франции</li>
			<li>22 сентября 1792 года - провозглашена 1-я Французкая Республика</li>
			<li>21 января 1793 года - казнь Людовика XVI </li>
			<li>сентябрь 1793 года - начало Якобинского террора</li>
			<li>июль 1794 года - конец Якобинского террора</li>
			<li>26 октября 1795 года - роспуск Конвента</li>
			<li>9 ноября 1799 года - конец революции, роспуск Директории</li>
			{% endblocktrans %}
	</div>
	<div class="list">
		{% blocktranslate %}
			 Для дальнейшего понимания революции необходимо знать какие политические силы действуют как в стране так и за 
			 её пределами.
		{% endblocktranslate %}
	</div>
	<div class="list">
		{% blocktranslate %}
			 Жирондисты - представляют интересы интеллигенции  и стремились распространить идеи революции на все народы. 
			 Относительно Монтаньяров умеренные либералы.
		{% endblocktranslate %}
	</div>
	<div class="list">
		{% blocktranslate %}
			 Монтаньяры - представляют интересы бедняков, крестьян мелких буржуев. Хотели полной демократизации общества.
		{% endblocktranslate %}
	</div>
	<div class="list">
		{% blocktranslate %}
			 Фельяны - представляют интересы дворян и крупной буржуазии. Не хотели продолжения революции, ведь считали что
			 цели её выполнены.
		{% endblocktranslate %}
	</div>
	<div class="list">
		{% blocktranslate %}
			 Бежавшая знать - что ж представляли интересы знати. Хотели вернуть монархию. Пользовались поддержкой соседних стран.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 После начала революции Франция начала меняться, один закон демократичнее другого. Упразднены сословия, реорганизована и 
			 упрощена центральная администрация, были и судебные реформы и религиозная реформа. Заметь ни слова об упразднении короля.
			 А это потому что никто не хотел свергать короля а лишь отнять у него его абсолютную власть. Король был символом, лицом
			 Франции.

			 Тогда, эта революция виделась как Французский путь перехода от Абсолютной монархии к Конституционной. И всё бы хорошо,
			 только вот, король попытался бежать, тем самым "скомпрометировав" себя. Вызвав тем самым "Вареннский кризис". Об конституционной
			 монархии можно было забыть.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 Суть данного кризиса была в том, что после неудачной попытке короля бежать вся монархическая Европа была в шоке и 
			 грозилась создать коалицию против революционной Франции. Вся Франция была в шоке король вёл двойную игру и врал народу.
			 Это раскололо революционеров, для Фельянов сохранить монархию хоть в каком-то виде, для бежавшей знати остался лишь один вариант,
			 военная интервенция, а Монтъяры и Жирондисты только сильнее радикализировались.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 Вскоре 22 сентября 1792 года монархия была упразднена и провозглашена 1-я Французская Республика. Тогда Францией управлял  так называемый
			 Конвент и через год ко власти пришли Монтъяры(синоним к их названию Якобинцы, ведь их было большинство) и начался якобинский террор.
			 Время, когда ресурсы всей страны мобилизировались дабы защитить Республику. Время, когда началась охота на ведьм. Время, когда полетели головы.

			 Террор длился год и он принёс свои плоды. Разгромив 1-ю коалицию и оттеснив её от границ Франции. Он закончился со смертью его
			 зачинщиков и сторонников.
			 На смену террору пришла Директория.
		{% endblocktranslate %}
	</div>
	<div class="row_container row_container--wrap">
		<div class="text">
			{% blocktranslate %}
				 В ходе внутрефракционной борьбы (или резни по человечески) на смену Конвенту во главе с Монтаньярами пришла Директория.
				 И у них, надо сказать, было полно работы. Ибо экономический кризис достиг своего пика, высочайшая преступность, голод.
				 Тем не менее, к краху Директории и республики соответственно, привели не все те факторы, которые упомянуты выше, а их самоуверенность.
				 После победы над 1-й коалицией Франция двинулась дальше, это сподвигло Великобританию к формированию 2-й коалиции.

				 Но плохо даже не это, а то что во время войн с 1-й а потом и со 2-й коалицией появились герои отечества, те в кого народ верил и любил.
				 Одним из таких героев был Наполеон Бонапарт. Вскоре дитя революции пожрало своего создателя. 10 ноября 1799 года Директория была распущена
				 Бонапартом. Это был конец революции и Республики.
			{% endblocktranslate %}
		</div>
		<div class="image">
			<img src="{{media_root}}{{article.img1}}" alt="{% trans "Наполеон с рукой под мундиром" %}">
		</div>
	</div>
	<div id="v3_1" class="title">
		<h2>{% trans "Последствия Французской революции" %}</h2>
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 Я не буду описывать похождения Бонапарта после революции, ведь это тема для отдельной статьи (ссылка на будущую статью).
			 Ограничимся последствиями революции, ведь многие сомневаются в том что это революция принесла хоть что-нибудь хорошее
			 самому Французскому народу.
		{% endblocktranslate %}
	</div>
	<div class="text text--fullwidth">
		{% blocktranslate %}
			 Возможно для Французов это и была бессмысленная бойня, которая ни к чему не привела, но как символ, как знак, как ориентир для других
			 угнетённых народов  и как предупреждение всей монархической Европе, Французская революция бесценна. И где сегодня все монархии в Европе ? 
			 Они либо уничтожены другими революциями, либо низведены до состояния реликтов прошлого. И кем же? Теми самыми угнетёнными народами.
		{% endblocktranslate %}
	</div>
	<div id="v4_1" class="title">
		<h2>{% trans "Источники" %}</h2>
	</div>
	<div class="text text--fullwidth text--toleft">
		<ul>
			<li><a href="https://www.econ.cam.ac.uk/people-files/faculty/sco2/full-texts/Ogilvie-2000-The%20European%20economy.PDF">{% trans "Статистика и графики" %}</a></li>
			<li><a href="https://en.wikipedia.org/wiki/French_Revolution">{% trans "Структура и основные события, факты." %}</a></li>
		</ul>
	</div>


{% endblock %}

{% block script_block %}
    <script src="{% static 'Viewer/js/viewer.js' %}"></script>
{% endblock %}
