@import url(zero.css);
@import url(containers.css);
@import url(button.css);
@import url(navigation.css);
@import url(navigation_path.css);
@import url(debug.css);
/*For main title*/
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
/*For regular text*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*For titles*/
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap');

.wrapper{
    width: 100%;
    height: 100%;
	font-family: 'Poiret One', cursive;
    font-size: 24px;
    font-weight: 400;
	background: #EEF1F6;
}
.wrapper--mobile{
    width: 100%;
    height: 100%;
	font-family: 'Poiret One', cursive;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
	background: #EEF1F6;
}

.navigation{
	max-height: 100%;
	max-width: 400px;
	overflow:scroll;
    flex: 0 0 auto;
    transition: width 0.5s, padding 0.5s;
	/*
border-radius: 0px 0px 20px 0px;
-webkit-border-radius: 0px 0px 20px 0px;
-moz-border-radius: 0px 0px 20px 0px;
border-right: 7px ridge #232323;
border-bottom: 7px ridge #232323;
*/
	background: #EEF1F6;
}
.navigation--hide{
    width: 0px;
    padding: 0px;
}

.navigation--toreplace{
    max-width: 400px;
    min-width: 300px;
	flex-grow: 1;
    height: 100%;
    padding: 10px;
    flex: 0 1 auto;
	overflow:scroll;
    transition: width 0.5s, padding 0.5s;
}

.navigation_title{
font-family: 'Rancho', cursive;
    max-width: 400px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    padding: 10px;
    margin: 20% 0 10% 0;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
    cursor: pointer;
	border-radius: 0px 20px 0px 20px;
	border-left: 7px groove #232323;
	border-right: 7px groove #232323;
}
.navigation_title > a{
    color: black;
}
.navigation_title:hover{
	border-left: 7px groove #C26247;
	border-right: 7px groove #C26247;
}

.navigation_body{
	flex-grow: 1;
	/*max-height: 100%;
	overflow:scroll;*/
	border-radius: 0px 20px 20px 0px;
	border-top: 7px groove #232323;
	border-right: 7px groove #232323;
	border-bottom: 7px groove #232323;
    transition: width 0.5s, padding 0.5s;
    font-size: 32px;
}


.navigation_body__element{
	border-radius: 20px ;
	border: 7px groove #232323;
}
.navigation_body__element > span > a{
    color: black;
}

.collapsing_tree{
    overflow-y:scroll;
}

#about, #home, #contacts{
    padding-left: 10px;
	letter-spacing: 3px;
    transition:  letter-spacing 0.3s;
}

#about:hover, #home:hover, #contacts:hover{
	border: 9px ridge #C26247;
}

.navigation--toreplace > .navigation_footer{
	margin: 0px;
}

.navigation_footer{
    justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 0px;
	margin-right: 50px;
}

.navigation_footer__element{
    padding-right: 15px;
    padding-left: 15px;
}

.navigation_footer__element:active{
    animation: pushed;
    animation-duration: 1s;
}

#navigation_footer__language_switcher{
}

#navigation_footer__theme_choise, #navigation_footer__language_choise, #navigation_footer__search__box {
    display: none;
}

#navigation_footer__search__box{
	padding-left: 5px;
	padding-right: 5px;
}

#navigation_footer__search__box > form > input{
	padding: 10px;
	border-radius:20px;
    border-top: 4px groove #232323;
    border-left: 4px groove #232323;
    border-right: 0px groove #232323;
	background: #EEF1F6;
}

#navigation_footer__search__box > form > input:hover{
    border-top: 4px groove #c26247;
    border-left: 4px groove #c26247;
}

#navigation_footer__search__box > form > input:active{
    border-top: 4px groove #c26247;
    border-left: 4px groove #c26247;
}

.viewer{
	overflow: scroll;
	width: 100%;
	height: 300px;
	border-radius: 20px;
	border: 7px groove #232323;
	background: #EEF1F6;
}

.border__bottom_left--sharp{
	border-bottom-left-radius: 0px;
}
.border__top_left--sharp{
	border-top-left-radius: 0px;
}
.border__top_right--sharp{
	border-top-right-radius: 0px;
}

.container_not_found{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content:center;
	align-items: center;
}

.search_container_empty{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content:center;
}

.search_container{
	margin: 5px;
	width: 50%;
}



.search_title{

}

.search_count{

}

.search_body{
	margin-top: 30px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;

}

.search_body__element{
	padding-left: 15px;
	border-bottom: 4px solid grey;
	transition: scale 0.4s;
}
.search_body__element:hover{
	border-bottom: 4px groove #c26247;
	scale: 1.2;
}
