@import url(keyframes.css);



.navigation_footer__collapse_button{
    left: inherit;
    bottom: inherit;
    transition: left 0.3s, bottom 0.3s;
    align-self: center;
    border-top-right-radius: 30%;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    margin: 10px;
}

.navigation_footer__collapse_button--flip{
    border-top-right-radius: 0px;
    border-top: 0px solid grey;
    border-right: 0px solid grey;
    border-bottom-left-radius: 15px;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    transform: scale(-1);
}

.navigation_footer__collapse_button--collapsed{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.navigation_path__collapse_button{
    transition: top 0.5s;
    border-bottom-left-radius: 15px;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    margin: 10px;
    transform: rotate(90deg);
}
.navigation_path__collapse_button--flip{
    border-bottom-left-radius: 0px;
    border-bottom: 0px solid grey;
    border-left: 0px solid grey;
    border-top-left-radius: 15px;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    transform: scale(-1)rotate(90deg) ;
}
.navigation_path__collapse_button--collapsed{
    position: absolute;
    top: 0px;
    right: 0px;
}


.button{
    cursor: pointer;
    scale: 1;
    transition:  scale 0.5s, box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
}

.button:hover{
    cursor: pointer;
    scale: 1.2;
    box-shadow: -6px -3px 6px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px -3px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px -3px 6px 1px rgba(0,0,0,0.75);
}
.button:active{
}


.button > img{
    width: 32px;
    scale: 1;
    z-index: 1;
    transition: scale 0.5s;
}

.button > img:hover{
    scale: 1.5;
}


