@import url(keyframes.css);



.navigation_footer__collapse_button{
    left: inherit;
    bottom: inherit;
    transition: left 0.3s, bottom 0.3s;
    align-self: center;
    margin: 10px;
}

.navigation_footer__collapse_button--flip{
    transform: scale(-1);
}

.navigation_footer__collapse_button--collapsed{
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.navigation_path__collapse_button{
    transition: top 0.5s;
    margin: 10px;
    transform: rotate(90deg);
}
.navigation_path__collapse_button--flip{
    transform: scale(-1)rotate(90deg) ;
}
.navigation_path__collapse_button--collapsed{
    position: absolute;
    top: 0px;
    right: 0px;
}


.button{
	border-radius: 20px;
	padding: 10px;
    cursor: pointer;
    scale: 1;
}

.button:hover{
	border: 5px groove #c26247;
    cursor: pointer;
}


.button > img, .button > a > img {
    width: 32px;
    scale: 1;
    z-index: 1;
    transition: scale 0.5s;
}

.button > img:hover{
    scale: 1.1;
}


.button_simple{
    cursor: pointer;
}

.button_simple:hover{
}
.button_simple > img{
    width: 32px;
    scale: 1;
    z-index: 1;
    transition: scale 0.5s;
}

.button_simple > img:hover{
    scale: 1.25;
}

.active_button{
	border: 5px groove #c26247;
}

@media only screen and (max-width: 900px){

.button > img, .button > a > img {
    width: 64px;
    scale: 1;
    z-index: 1;
    transition: scale 0.5s;
}

.button_simple > img{
    width: 64px;
    scale: 1;
    z-index: 1;
    transition: scale 0.5s;
}

}
