.title{
	margin: auto;
	margin-top: 100px;
	width: 60%;
	align-items: center;
	justify-content: center;
}

.title_logo{
	padding:30px;
	padding-left: 60px;
}

.title_logo > img{
	max-width: 250px;
}

.title_name, .title_name > h2{
	margin-top: 60px;
	padding:30px;
	text-align: center;
	font-size: 44px;
	font-family: 'Bellota', cursive;
	font-weight: bold;
}

.title_quote{
	text-align: center;
	font-size: 28px;
	font-family: 'Bellota', cursive;
}

.home_container{
	margin:auto;
	margin-top: 200px;
	width: 85%;
}

.home_description{
	text-align: center;
	font-size: 24px;
	font-family: 'Bellota', cursive;
}
.home_articles__container{
	margin-top: 25px;
	align-items: end;
}
.home_articles__el--big-container{
	max-width: 400px;
}
.home_articles__el{
	width: 400px;
	margin-bottom: 25px;
	padding:25px;
}

.home_article__el__title{
	font-size: 34px;
	font-weight: bold;
	background: #EEF1F6;
}
.home_article__el__title:hover{
	border-bottom: 3px groove #C26247;
}
.home_article__el__read{
	transition: scale 0.4s;
}
.home_article__el__read:hover{
	scale: 1.2;
	border-bottom: 3px groove #C26247;
}
.home_article__el__timeadded{
}
.home_article__el__likes{
}
.home_article__el__shares{
}
.home_article__el__views{
}
.home_article__el__image > a > img{
	width: 100%;
	height: auto;
}
.home_article__el__image{
	transition: scale 0.4s;
}
.home_article__el__image:hover{
	scale: 1.2;	
}

.new_articles{
}


.popular_articles{

}

.future_articles{

}


.list{
	display: flex;
	flex-direction:column;
	min-width: 200px;
	padding:30px;
	font-size: 24px;
	text-align: justify;
	align-self: left;
	line-height: 30px;
	text-indent: 30px;
}

.list > li {
	list-style-type: square;
	margin-bottom: 10px;
	margin-left: 30px;
}

.home_articles__el > img{
	max-width: 100%;
	width: 100%;
	height: auto;
}


.image > img{
	max-width: 32px;
	max-height: 32px;
	margin-right: 5px;
}


.list{
	display: flex;
	flex-direction:column;
	min-width: 200px;
	padding:30px;
	font-size: 24px;
	text-align: justify;
	align-self: left;
	line-height: 30px;
	text-indent: 30px;
}

.list > li {
	list-style-type: square;
	margin-bottom: 10px;
	margin-left: 30px;
}

.link{
	text-decoration: none;
	color: black;
}

.circle_container{
	display: flex;
	flex-direction: column;
	margin: 5px;
	width: fit-content;
	align-self: center;
	justify-content: center;
}
.circle_container:last-child{
	display: none;
}

.circle{
	width:8px;
	height:8px;
	background: grey;
	border-radius: 50%;
}
