/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: none;
} 

.collapsing_tree{

}

.collapsing_tree__element{
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
}

.collapsing_tree__element.collapsing_tree__toggler_header{
	border-bottom: 0px solid grey;
}

.collapsing_tree__element:hover{
	border-bottom: 9px ridge #C26247;
}

.collapsing_tree__element.collapsing_tree__toggler_header:hover{
	border-bottom: 0px solid grey;
}

.collapsing_tree__element > a{
 text-decoration: none;
 color: black;
}

.collapsing_tree__toggler{
	padding: 5px;
	padding-left: 10px;
	cursor: pointer;
	user-select: none;
	border-radius: 20px ;
	border: 7px groove #232323;
}

.collapsing_tree__toggler:hover{
  border: 9px ridge #C26247;
}

.collapsing_tree__toggler_header{
  padding-left: 0px;
}

.collapsing_tree__toggler_body{
	padding: 10px;
}

.collapsing_tree__side_image{
  width: 32px;
  margin: 5px;
}
