/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: none;
} 

.collapsing_tree{

}

.collapsing_tree__element{
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
  letter-spacing: inherit;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
}

.collapsing_tree__element:hover{
  box-shadow: -6px -3px 6px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -6px -3px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -6px -3px 6px 1px rgba(0,0,0,0.75);
}

.collapsing_tree__element > a{
 text-decoration: none;
 color: black;
}

.collapsing_tree__toggler{
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
}

.collapsing_tree__toggler_header{
  padding-left: 0px;
}

.collapsing_tree__toggler_body{
}

.collapsing_tree__side_image{
  width: 16px;
  margin: 5px;
}
