{% extends 'Base/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'Viewer/css/viewer.css' %}"/>
{% endblock %}

{% block forviewer_content %}
	<div class="content_tree__toggler">
		<div  class="content_tree__toggler_header content_tree__element" >
			<img class="content_tree__side_image" src="{% static 'Base/img/script.webp' %}" alt="{% trans "Свиток" %}">
			<span>{% trans "Содержание" %}</span>
		</div>
		<div  class="content_tree__toggler_body active">
			<div class="content_tree__element">
				<a href="#v4_1">
					<img class="content_tree__side_image" src="{% static 'Base/img/paragraph.webp' %}" alt="{% trans "Параграф" %}">
					<span>{% trans "Источники" %}</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<h2> Название </h2>
	<div> Контент </div>
{% endblock %}

{% block script_block %}
    <script src="{% static 'Viewer/js/viewer.js' %}"></script>
{% endblock %}
