{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'Base/css/base.css' %}"/>
    <title>Сказки человечества</title>
    <!-- Block of code for apps headers-->
    {% block header %}
    {% endblock %}
</head>
<body>
    <div class="wrapper row_container border">
        <div class="row_container_element container--paddings border">
            Боковое меню
        </div>
        <div class="column_container row_container_element__expanding border">
            <div class="column_container_element container--paddings border">Навигационная строка</div>
            <div class="column_container_element__expanding container--paddings border">
                <!-- Block of code for apps content-->
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'Base/js/base.js' %}"></script>
    <!-- Block of code for apps scripts-->
    {% block script_block %}
    {% endblock %}
</body>
</html>